.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 120px;
    -fx-tab-min-height: 40px;
}

.tab-pane {
    -fx-background-color: transparent;
}

.tab {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab {
    -fx-background-color: #ededed;

}

.tab-pane .tab:selected {
    -fx-background-color: #1ebfa2;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #6e6e6e;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

