/*
    Created on : Jan 7, 2021, 6:23:28 AM
    Author     : Ismail
*/

/*
*	Minimize button
*/
.decoration-button-minimize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../images/minimize.png");
	-fx-background-size: 30px 30px;
    -fx-background-repeat:no-repeat;
}

.decoration-button-minimize:hover{
    -fx-background-color: null;
    -fx-background-image:url("../images/minimize-hover.png");
	-fx-background-size: 30px 30px;
    -fx-background-repeat:no-repeat;
}
/*
*	Close button
*/
.decoration-button-close{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../images/close.png");
-fx-background-size: 30px 30px;
    -fx-background-repeat:no-repeat;
}
.decoration-button-close:hover{
    -fx-background-color: null;
    -fx-background-image:url("../images/close-hover.png");
-fx-background-size: 30px 30px;
    -fx-background-repeat:no-repeat;
}







